In [1]:
import pandas as pd
import numpy as np
import os
import random
random.seed(100)
os.chdir('/home/sunil/Desktop/datahack')
train = pd.read_csv('train.csv')

In [2]:
train.shape

(614, 13)

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train.rename(columns={'Loan_Status': 'class'}, inplace=True)

In [5]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
class                 object
dtype: object

In [6]:
train.isnull().values.any()

True

In [7]:
train=train.dropna()

In [8]:
train.shape

(480, 13)

In [9]:
train.isnull().values.any()

False

In [10]:
for col_name in train.columns:
    if(train[col_name].dtype == 'object'):
        train[col_name]= train[col_name].astype('category')
        train[col_name] = train[col_name].cat.codes

In [11]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,class
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [12]:
X = train.drop('class', axis=1)  
X = X.drop('Loan_ID',axis=1)
y = train['class']

In [13]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2

In [14]:
y.head()

1    0
2    1
3    1
4    1
5    1
Name: class, dtype: int8

In [15]:
X.apply(lambda x: x.value_counts()).T.stack()

Gender            0.0        86.0
                  1.0       394.0
Married           0.0       169.0
                  1.0       311.0
Dependents        0.0       274.0
                  1.0        80.0
                  2.0        85.0
                  3.0        41.0
Education         0.0       383.0
                  1.0        97.0
Self_Employed     0.0       414.0
                  1.0        66.0
ApplicantIncome   150.0       1.0
                  645.0       1.0
                  1000.0      1.0
                  1025.0      1.0
                  1299.0      1.0
                  1378.0      1.0
                  1442.0      1.0
                  1500.0      1.0
                  1538.0      1.0
                  1600.0      1.0
                  1625.0      1.0
                  1668.0      1.0
                  1759.0      1.0
                  1782.0      1.0
                  1800.0      2.0
                  1809.0      1.0
                  1811.0      1.0
                  1820.0      1.0
                            ...
LoanAmount        312.0       1.0
                  315.0       1.0
                  320.0       1.0
                  324.0       1.0
                  349.0       1.0
                  360.0       1.0
                  376.0       1.0
                  380.0       1.0
                  400.0       1.0
                  436.0       1.0
                  480.0       2.0
                  495.0       1.0
                  496.0       1.0
                  500.0       1.0
                  570.0       1.0
                  600.0       2.0
Loan_Amount_Term  36.0        2.0
                  60.0        2.0
                  84.0        3.0
                  120.0       3.0
                  180.0      36.0
                  240.0       2.0
                  300.0       9.0
                  360.0     411.0
                  480.0      12.0
Credit_History    0.0        70.0
                  1.0       410.0
Property_Area     0.0       139.0
                  1.0       191.0
                  2.0       150.0
Length: 849, dtype: float64

In [16]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y.values,train_size=0.90, test_size=0.10)

In [17]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((432, 11), (48, 11), (432,), (48,))

In [18]:
X_train_array=X_train.values
X_test_array=X_test.values

In [19]:
print(type(X_train_array))
print(type(X_test_array))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [20]:
#X_train_array=X_train_array.toarray()
#X_test_array=X_test_array.toarray()

In [21]:
y_test

array([1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1], dtype=int8)

In [22]:
X_test_array

array([[1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 2.89500000e+03, 0.00000000e+00, 9.50000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.51000000e+03, 0.00000000e+00, 7.60000000e+01,
        3.60000000e+02, 0.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.02500000e+03, 2.77300000e+03, 1.12000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 3.45000000e+03, 2.07900000e+03, 1.62000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.66660000e+04, 0.00000000e+00, 2.75000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.30000000e+03, 2.01400000e+03, 1.94000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.80000000e+03, 3.60000000e+03, 2.16000000e+02,
        3.60000000e+02, 0.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 8.00000000e+03, 0.00000000e+00, 2.00000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 9.08300000e+03, 0.00000000e+00, 2.28000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.36600000e+03, 2.20000000e+03, 1.35000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.17300000e+03, 0.00000000e+00, 7.40000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 6.60800000e+03, 0.00000000e+00, 1.37000000e+02,
        1.80000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 2.58300000e+03, 2.35800000e+03, 1.20000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.95800000e+03, 2.90000000e+03, 1.31000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.08300000e+03, 3.15000000e+03, 1.28000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 4.88700000e+03, 0.00000000e+00, 1.33000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.06900000e+03, 0.00000000e+00, 7.10000000e+01,
        4.80000000e+02, 1.00000000e+00, 2.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.30000000e+03, 0.00000000e+00, 1.36000000e+02,
        3.60000000e+02, 0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.48100000e+03, 0.00000000e+00, 1.55000000e+02,
        3.60000000e+01, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.78200000e+03, 2.23200000e+03, 1.07000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.72300000e+03, 0.00000000e+00, 8.10000000e+01,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 6.38300000e+03, 1.00000000e+03, 1.87000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 3.35700000e+03, 2.85900000e+03, 1.44000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.14170000e+04, 1.12600000e+03, 2.25000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.94800000e+03, 1.73300000e+03, 1.49000000e+02,
        3.60000000e+02, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 5.78000000e+03, 0.00000000e+00, 1.92000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.92000000e+03, 1.61200008e+01, 8.70000000e+01,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 6.25000000e+03, 5.65400000e+03, 1.88000000e+02,
        1.80000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 8.33300000e+03, 0.00000000e+00, 2.46000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.16600000e+03, 0.00000000e+00, 1.16000000e+02,
        3.60000000e+02, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.34200000e+03, 1.89000000e+02, 1.24000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.38400000e+03, 1.79300000e+03, 1.17000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.15900000e+03, 4.61000000e+02, 1.08000000e+02,
        8.40000000e+01, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 2.47900000e+03, 3.01300000e+03, 1.88000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.23200000e+03, 1.95000000e+03, 1.08000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.10000000e+03, 1.40000000e+03, 1.13000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.00900000e+03, 1.71700000e+03, 1.16000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.58300000e+03, 0.00000000e+00, 1.12000000e+02,
        3.60000000e+02, 1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 5.70800000e+03, 5.62500000e+03, 1.87000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.53800000e+03, 1.42500000e+03, 3.00000000e+01,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.99990000e+04, 0.00000000e+00, 6.00000000e+02,
        1.80000000e+02, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 6.32500000e+03, 0.00000000e+00, 1.75000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.58800000e+03, 0.00000000e+00, 1.10000000e+02,
        3.60000000e+02, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 6.00000000e+03, 0.00000000e+00, 1.41000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 4.30100000e+03, 0.00000000e+00, 1.18000000e+02,
        3.60000000e+02, 1.00000000e+00, 2.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 4.58300000e+03, 0.00000000e+00, 1.33000000e+02,
        3.60000000e+02, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 3.92700000e+03, 8.00000000e+02, 1.12000000e+02,
        3.60000000e+02, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 6.45000000e+02, 3.68300000e+03, 1.13000000e+02,
        4.80000000e+02, 1.00000000e+00, 0.00000000e+00]])

In [23]:
type(X_test_array)

numpy.ndarray

In [24]:
X_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
498,1,1,1,0,1,2895,0.000000,95.0,360.0,1.0,1
17,0,0,0,0,0,3510,0.000000,76.0,360.0,0.0,2
418,1,1,0,0,0,1025,2773.000000,112.0,360.0,1.0,0
470,1,1,1,0,1,3450,2079.000000,162.0,360.0,1.0,1
572,1,1,2,0,0,16666,0.000000,275.0,360.0,1.0,2
124,1,1,0,1,0,4300,2014.000000,194.0,360.0,1.0,0
108,1,1,2,0,0,3800,3600.000000,216.0,360.0,0.0,2
169,1,1,2,0,0,8000,0.000000,200.0,360.0,1.0,1
350,1,1,0,0,0,9083,0.000000,228.0,360.0,1.0,1
57,1,1,0,0,0,3366,2200.000000,135.0,360.0,1.0,0
343,1,1,3,1,0,3173,0.000000,74.0,360.0,1.0,1
247,1,1,1,1,0,6608,0.000000,137.0,180.0,1.0,2
3,1,1,0,1,0,2583,2358.000000,120.0,360.0,1.0,2
90,1,1,0,0,0,2958,2900.000000,131.0,360.0,1.0,1
482,1,1,0,0,0,2083,3150.000000,128.0,360.0,1.0,1
18,1,1,0,1,0,4887,0.000000,133.0,360.0,1.0,0
378,1,0,0,0,0,3069,0.000000,71.0,480.0,1.0,2
69,0,0,0,0,0,4300,0.000000,136.0,360.0,0.0,1
262,0,0,1,0,0,3481,0.000000,155.0,36.0,1.0,1
578,1,1,1,0,0,1782,2232.000000,107.0,360.0,1.0,0
360,0,0,1,0,0,4723,0.000000,81.0,360.0,1.0,1
596,1,1,2,1,1,6383,1000.000000,187.0,360.0,1.0,0
59,1,1,2,1,0,3357,2859.000000,144.0,360.0,1.0,2
106,1,1,2,0,0,11417,1126.000000,225.0,360.0,1.0,2
452,1,1,0,0,0,3948,1733.000000,149.0,360.0,0.0,0
599,1,1,2,0,0,5780,0.000000,192.0,360.0,1.0,2
428,1,1,0,0,0,2920,16.120001,87.0,360.0,1.0,0
91,1,1,2,0,0,6250,5654.000000,188.0,180.0,1.0,1
484,1,1,2,0,0,8333,0.000000,246.0,360.0,1.0,1
64,0,0,0,0,0,4166,0.000000,116.0,360.0,0.0,1
321,1,1,3,0,0,4342,189.000000,124.0,360.0,1.0,1
330,1,0,1,0,0,4384,1793.000000,117.0,360.0,1.0,2
575,1,1,2,0,0,3159,461.000000,108.0,84.0,1.0,2
508,1,1,0,0,1,2479,3013.000000,188.0,360.0,1.0,2
608,1,1,0,0,0,3232,1950.000000,108.0,360.0,1.0,0
394,1,1,2,0,0,3100,1400.000000,113.0,360.0,1.0,2
221,1,1,2,0,0,4009,1717.000000,116.0,360.0,1.0,1
166,0,1,0,0,0,4583,0.000000,112.0,360.0,1.0,0
173,1,1,0,0,0,5708,5625.000000,187.0,360.0,1.0,1
147,1,1,1,0,0,1538,1425.000000,30.0,360.0,1.0,2
155,1,1,3,0,0,39999,0.000000,600.0,180.0,0.0,1
368,1,1,1,0,0,6325,0.000000,175.0,360.0,1.0,1
532,1,0,2,0,0,3588,0.000000,110.0,360.0,0.0,0
4,1,0,0,0,0,6000,0.000000,141.0,360.0,1.0,2
456,1,1,0,0,0,4301,0.000000,118.0,360.0,1.0,2
613,0,0,0,0,1,4583,0.000000,133.0,360.0,0.0,1
281,1,1,0,0,0,3927,800.000000,112.0,360.0,1.0,1
500,0,0,0,0,0,645,3683.000000,113.0,480.0,1.0,0

In [25]:
X_train_array

array([[  1.,   1.,   0., ..., 360.,   1.,   2.],
       [  1.,   1.,   0., ..., 360.,   1.,   2.],
       [  0.,   0.,   0., ..., 360.,   1.,   2.],
       ...,
       [  1.,   1.,   1., ..., 360.,   1.,   2.],
       [  1.,   0.,   0., ..., 360.,   1.,   2.],
       [  1.,   1.,   0., ..., 360.,   1.,   2.]])

In [26]:
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
271,1,1,0,0,0,11146,0.0,136.0,360.0,1.0,2
397,1,1,0,0,0,3033,1459.0,95.0,360.0,1.0,2
270,0,0,0,0,0,3237,0.0,30.0,360.0,1.0,2
531,1,1,3,0,0,4281,0.0,100.0,360.0,1.0,2
415,0,0,0,0,0,2995,0.0,60.0,360.0,1.0,2
472,1,1,3,0,0,4691,0.0,100.0,360.0,1.0,1
351,1,0,0,0,0,8750,4167.0,308.0,360.0,1.0,0
161,1,1,0,0,0,7933,0.0,275.0,360.0,1.0,2
267,1,1,3,0,0,4333,1811.0,160.0,360.0,0.0,2
47,1,1,0,0,0,5821,0.0,144.0,360.0,1.0,2
76,1,0,0,0,0,3750,4750.0,176.0,360.0,1.0,2
315,1,1,1,1,0,3399,1640.0,111.0,180.0,1.0,2
541,0,0,0,0,0,2138,0.0,99.0,360.0,0.0,1
253,1,1,1,1,0,2661,7101.0,279.0,180.0,1.0,1
487,1,1,1,0,0,18333,0.0,500.0,360.0,1.0,2
347,1,1,2,1,0,3083,2168.0,126.0,360.0,1.0,2
402,1,0,0,0,0,2500,20000.0,103.0,360.0,1.0,1
230,1,1,1,0,0,2491,2054.0,104.0,360.0,1.0,1
528,1,0,1,1,0,2679,1302.0,94.0,360.0,1.0,1
383,1,0,0,0,1,7167,0.0,128.0,360.0,1.0,2
241,1,1,1,1,0,2510,1983.0,140.0,180.0,1.0,2
509,0,0,1,0,0,13262,0.0,40.0,360.0,1.0,2
143,1,1,0,0,0,2698,2034.0,122.0,360.0,1.0,1
439,0,1,0,1,1,7142,0.0,138.0,360.0,1.0,0
46,1,1,1,0,0,5649,0.0,44.0,360.0,1.0,2
534,0,0,0,1,1,18165,0.0,125.0,360.0,1.0,2
454,1,0,0,0,1,7085,0.0,84.0,360.0,1.0,1
362,1,1,0,0,0,4750,2333.0,130.0,360.0,1.0,2
239,1,1,1,0,0,3315,0.0,96.0,360.0,1.0,1
538,1,1,0,1,0,2917,536.0,66.0,360.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
58,1,1,1,0,0,8080,2250.0,180.0,360.0,1.0,2
299,1,1,1,0,0,2014,2925.0,113.0,360.0,1.0,2
568,0,0,0,0,0,2378,0.0,9.0,360.0,1.0,2
448,1,1,2,0,0,3340,1710.0,150.0,360.0,0.0,0
92,1,1,2,1,0,3273,1820.0,81.0,360.0,1.0,2
591,1,1,2,0,1,6000,0.0,205.0,240.0,1.0,1
386,1,0,0,1,0,2346,1600.0,132.0,360.0,1.0,1
33,1,1,0,0,0,3500,1667.0,114.0,360.0,1.0,1
149,1,1,0,0,0,4860,830.0,125.0,360.0,1.0,1
555,1,1,1,0,0,5468,1032.0,26.0,360.0,1.0,1
141,1,0,0,0,0,5417,0.0,168.0,360.0,1.0,2
37,0,1,0,0,0,3667,1459.0,144.0,360.0,1.0,1
133,1,1,0,0,1,3459,0.0,25.0,120.0,1.0,1
340,1,1,3,1,0,2647,1587.0,173.0,360.0,1.0,0
408,1,1,1,0,0,8300,0.0,152.0,300.0,0.0,1
492,1,0,0,1,0,3691,0.0,110.0,360.0,1.0,0
420,1,1,0,0,0,5829,0.0,138.0,360.0,1.0,0
427,1,1,2,0,0,5935,0.0,133.0,360.0,1.0,1
274,1,1,2,0,0,3900,0.0,90.0,360.0,1.0,1
366,1,0,0,0,0,2500,0.0,96.0,480.0,1.0,1
585,1,1,1,0,0,4283,3000.0,172.0,84.0,1.0,0
403,0,0,0,1,0,1963,0.0,53.0,360.0,1.0,1
244,1,1,0,1,0,3406,4417.0,123.0,360.0,1.0,1
574,1,1,3,0,0,6406,0.0,150.0,360.0,1.0,1
537,1,0,2,0,0,3617,0.0,107.0,360.0,1.0,1
208,1,0,0,0,0,2479,0.0,59.0,360.0,1.0,2
251,0,0,2,0,0,3427,0.0,138.0,360.0,1.0,2
342,1,1,1,1,0,4554,1229.0,158.0,360.0,1.0,2
131,1,0,0,0,0,2014,1929.0,74.0,360.0,1.0,2
536,1,1,0,0,0,6133,3906.0,324.0,360.0,1.0,2

In [27]:
type(X_train_array)

numpy.ndarray

In [28]:
type(y_train)

numpy.ndarray

In [29]:
y_train

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1], dtype=int8)

In [30]:
import numpy as np 
np.shape(X_train_array)

(432, 11)

In [31]:
np.shape(X_test_array)

(48, 11)

In [32]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=2)
tpot.fit(X_train_array, y_train)

/home/sunil/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

HBox(children=(IntProgress(value=0, description='Optimization Progress', style=ProgressStyle(description_width…

Generation 1 - Current best internal CV score: 0.8054958567228014

2.0477756333333335 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: BernoulliNB(input_matrix, alpha=0.1, fit_prior=True)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=1000000,
        max_eval_time_mins=5, max_time_mins=2, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=100,
        random_state=None, scoring=None, subsample=1.0, use_dask=False,
        verbosity=2, warm_start=False)

In [33]:
y_test

array([1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1], dtype=int8)

In [34]:
print(tpot.score(X_test_array, y_test))

0.8333333333333334

In [35]:
tpot1 = TPOTClassifier(verbosity=2, max_time_mins=10,n_jobs = 4)
tpot1.fit(X_train_array, y_train)
print(tpot1.score(X_test_array, y_test))

HBox(children=(IntProgress(value=0, description='Optimization Progress', style=ProgressStyle(description_width…

Generation 1 - Current best internal CV score: 0.8101750082551064
Generation 2 - Current best internal CV score: 0.8101750082551064
Generation 3 - Current best internal CV score: 0.8101750082551064
Generation 4 - Current best internal CV score: 0.8101750082551064
Generation 5 - Current best internal CV score: 0.8101750082551064
Generation 6 - Current best internal CV score: 0.8101750082551064
Generation 7 - Current best internal CV score: 0.8101750082551064
Generation 8 - Current best internal CV score: 0.8124464990486974
Generation 9 - Current best internal CV score: 0.8124464990486974

10.164170816666665 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesClassifier(PCA(input_matrix, iterated_power=1, svd_solver=randomized), bootstrap=False, criterion=entropy, max_features=0.3, min_samples_leaf=3, min_samples_split=2, n_estimators=100)
0.8333333333333334

In [36]:
tpot.export('tpot_av_loans_1.py')

True

In [37]:
tpot1.export('tpot_av_loans_10mins_1.py')

True

In [38]:
av_test = pd.read_csv('processed_test.csv')

In [39]:
av_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,1,0,0,5720,0,110.0,360.0,1.0,2
1,LP001022,1,1,2,0,0,3076,1500,126.0,360.0,1.0,2
2,LP001031,1,1,3,0,0,5000,1800,208.0,360.0,1.0,2
3,LP001035,1,1,3,0,0,2340,2546,100.0,360.0,0.0,2
4,LP001051,1,0,1,1,0,3276,0,78.0,360.0,1.0,2

In [40]:
temp=av_test['Loan_ID']

In [41]:
del av_test['Loan_ID']

In [42]:
av_test_array=av_test.values

In [43]:
print(type(av_test_array))

<class 'numpy.ndarray'>

In [47]:
results = tpot1.predict(av_test_array)

In [48]:
results

array([1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1], dtype=int8)

In [49]:
type(results)

numpy.ndarray

In [50]:
type(temp)

pandas.core.series.Series

In [51]:
results=pd.Series(results)

In [52]:
type(results)

pandas.core.series.Series

In [69]:
results.replace([0, 1], ['N','Y'],inplace=True)

In [70]:
final=pd.concat([temp, results], axis=1)

In [71]:
final.shape

(367, 2)

In [72]:
final.head()

    Loan_ID  0
0  LP001015  Y
1  LP001022  Y
2  LP001031  Y
3  LP001035  N
4  LP001051  Y

In [73]:
final.columns.values

array(['Loan_ID', 0], dtype=object)

In [74]:
final.rename(columns={0: 'Loan_Status'}, inplace=True)

In [75]:
final.columns.values

array(['Loan_ID', 'Loan_Status'], dtype=object)

In [76]:
file_name="tpot_final_av_test.csv"
final.to_csv(file_name, sep=',', encoding='utf-8',index=False)